
.px-4.pt-5.my-5.text-center.border-bottom {

    padding: 0;
    margin: 0;
}

.container-fluid { 

    font-size: 20px;
    border-bottom: 2px solid white;
    padding-bottom: 5px;
    
    
}

#Portifolio {

    padding-left: 16px;
    font-size: 27px;
    
}
.nav-item :hover {

    
}


.textosobremim {

    text-align: center;
    padding-left: 280px;
    padding-right: 280px;
    padding-bottom: 80px;
}


.Titulosobremim {

    font-size: 35px;
    text-align: center;
    padding-top: 120px;
    padding-bottom: 60px;
}

.tituloformação {

    font-size: 35px;
    text-align: center;
    padding-top: 120px;
    padding-bottom: 60px;

}

.textoformação {


    text-align: left;
    font-size: 24px;
    padding-right: 120px;
    padding-top: 50px;
    padding-left: 50px;
    padding-bottom: 60px;
}

.Formações {
    text-align: left;
    font-size: 30px;
    padding-left: 40px;
    padding-bottom: 38px;
    padding-top: 50px;

}

.tituloatuação {

    text-align: center;
    padding-top: 120px;
    padding-bottom: 80px;
}

.subtituloatuacao {

    text-align: center;
    

    
}

.textoatuacao {
    text-align: center;
    font-size: 28px;
    padding-top: 120px;
    padding-left: 70px;
    padding-right: 70px;
    padding-bottom: 70px;
}

.titulojavascript {

    text-align: center;
    font-size: 40px;
    padding-top: 80px;

}

.textojavascript {

    text-align: center;
    padding-top: 80px;
    font-size: 20px;
    padding-left: 120px;
    padding-right: 120px;
    padding-bottom: 60px;
}

.textopython {

    text-align: center;
    padding-top: 80px;
    font-size: 20px;
    padding-left: 120px;
    padding-right: 120px;
    padding-bottom: 60px;

}

.titulopython {

    text-align: center;
    font-size: 40px;
    padding-top: 80px;



}

.htmltitulo {

     text-align: center;
    font-size: 40px;
    padding-top: 80px;
}

.htmltexto {

    text-align: center;
    padding-top: 80px;
    font-size: 20px;
    padding-left: 120px;
    padding-right: 120px;
    padding-bottom: 60px;

}

.csstitulo {
   
    text-align: center;
    font-size: 40px;
    padding-top: 80px;

}

.csstexto {
    text-align: center;
    padding-top: 80px;
    font-size: 20px;
    padding-left: 120px;
    padding-right: 120px;
    padding-bottom: 60px;

}

.titulophp {
    text-align: center;
    font-size: 40px;
    padding-top: 80px;

}

.textophp {
    text-align: center;
    padding-top: 80px;
    font-size: 20px;
    padding-left: 120px;
    padding-right: 120px;
    padding-bottom: 60px;

}

.titulosql {

    text-align: center;
    font-size: 40px;
    padding-top: 80px;

}

.textosql {
    text-align: center;
    padding-top: 80px;
    font-size: 20px;
    padding-left: 120px;
    padding-right: 120px;
    padding-bottom: 60px;}


.redessociais {

    padding-left: 260px;
    padding-bottom: 120px;
}